{% extends 'site/base.twig' %}

{% block content %}
  <!-- start content -->
  
  <section class="ui container">
   <h2 align="center">USERS</h2>
   <a href="http://localhost:8080/user/create">Create user</a>
   {% for item in data %}
      <li class="ui li">
         ID: {{ item.id }}
         <a href="http://localhost:8080/user/edit/{{ item.id }}">Edit</a>
      </li>
      <li>
         EMAIL: {{ item.email }}
      </li>
      <li>
         FIRST_NAME: {{ item.first_name }}
      </li>
      <li>
         LAST_NAME: {{ item.last_name }}
      </li>
   <br />
   {% endfor %}

</section>
  

  <!-- // end content -->
{% endblock %}

{% block footer %}
  {{ parent() }}
{% endblock %}
